<title> TeachingApp </title>
<p style="font-size:30px"> TeachingApp </p>
<p>
username: {{ session.username }} <br>
role: student <br>
<a href="/logout"> Log out </a>
</p>
<hr>

<p>
<h1> All Courses </h1>

<h2> Available courses: </h2>
<ul>
{% for course in available_courses %}
<li> {{ course[0] }}
	<a href="/student/joincourse/{{course[1]}}"> Join course </a>
{% endfor %}
</ul>

<h2> Enrolled courses: </h2>
<ul>
{% for course in enrolled_courses %}
<li> {{ course[0] }}
	<a href="/student/leavecourse/{{course[1]}}"> Leave course </a>
{% endfor %}
</ul>
</p>

<p>
<a href="/student"> Back to Main page </a>
</p>
