<title> TeachingApp </title>
<p style="font-size:30px"> TeachingApp </p>
<hr>

<p>
<form action="/createuser/action" method="POST">

<h1> Create user </h1>
<p> Username: <br> <input type="text" name="username"> </p>
<p> Password: <br> <input type="password" name="password"> </p>
<p> Role: <br>
<input type="radio" name="role" value="student"> Student
<input type="radio" name="role" value="teacher"> Teacher
</p>
<p> <input type="submit" value="Create user"> </p>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>
</p>

<p>
<a href="/"> Back to Log in -page </a>
</p>
