<title> TeachingApp </title>
<p style="font-size:30px"> TeachingApp </p>
<p><pre>username: {{ session.username }} | role: teacher | <a href="/logout">Log out</a></pre></p>
<hr>

<p>
<form action="/teacher/modifycourse/{{id}}/action" method="POST">

<h1> Modify course </h1>
<p> Course code: <br> <input type="text" name="coursecode" value="{{coursecode}}"> </p>
<p> Course name: <br> <input type="text" name="coursename" size="50" value="{{coursename}}"> </p>
<p> Language: <br>
<input type="radio" name="language" value="ENG" {{ENG}}> English
<input type="radio" name="language" value="FIN" {{FIN}}> Finnish
<input type="radio" name="language" value="SWE" {{SWE}}> Swedish
</p>
<p> Level: <br>
<input type="radio" name="level" value="BAS" {{BAS}}> Basic
<input type="radio" name="level" value="INT" {{INT}}> Intermediate
<input type="radio" name="level" value="ADV" {{ADV}}> Advanced
</p>
<p> ECTS: <br> <input type="number" name="ects" value="{{ects}}"> </p>
<p> % to complete: <br> <input type="number" name="limit" value="{{limit}}"> </p>
<p> <input type="submit" value="Modify course"> </p>

</form>
</p>

<p>
<a href="/teacher"> Back to Main page </a>
</p>
