<form action="/createcourse" method="POST">

<p><b>CREATE NEW COURSE</b></p>

<p>Course name:<input type="text" name="coursename"></p>
<p>Course code:<input type="text" name="coursecode"></p>

<p>
Language:
<input type="radio" name="language" value="ENG"> English
<input type="radio" name="language" value="FIN"> Finnish
<input type="radio" name="language" value="SWE"> Swedish
</p>

<p>
Level:
<input type="radio" name="level" value="BEG"> Beginner
<input type="radio" name="level" value="INT"> Intermediate
<input type="radio" name="level" value="ADV"> Advanced
</p>

<p>ECTS:<input type="number" name="ects"></p>
<p>%-limit for completion (e.g. 90):<input type="number" name="limit"></p>

<p><input type="submit" value="Create new course"></p>

<p><a href="/teacher">Back to Teacher-view</a></p>

</form>
