<title> TeachingApp </title>
<p style="font-size:30px"> TeachingApp </p>
<p><pre>username: {{ session.username }} | role: student | <a href="/logout">Log out</a></pre></p>
<hr>

<p>
<h1> My Courses <br> <div style="color:green;font-size:25px"> {{ stats }} </div> </h1>

<h2> Ongoing courses: </h2>
<ul>
{% for course in ongoing_courses %}
<li> {{ course[0] }}
	<a href="/student/course/{{course[2]}}"> View course </a> &nbsp;
	<a href="/student/leavecourse/{{course[2]}}"> Leave course </a> <br>
	<div style="color:green;"> {{ course[1] }} </div>
{% endfor %}
</ul>

<h2> Completed courses: </h2>
<ul>
{% for course in completed_courses %}
<li> {{ course[0] }}
	<a href="/student/course/{{course[2]}}"> View course </a> <br>
	<div style="color:green;"> {{ course[1] }} </div>
{% endfor %}
</ul>
</p>

<p>
<a href="/student/courses"> View courses </a>
</p>
