<title> TeachingApp </title>
<p style="font-size:30px"> TeachingApp </p>
<p><pre>username: {{ session.username }} | role: student | <a href="/logout">Log out</a></pre></p>
<hr>

<h1> All Courses </h1>



{% if search_or_filter %}
<div style="border: 1px solid blue; padding: 5px">
<form action="/student/courses">
<p style="color:blue">

FILTER: 

{% if search %}
keyword '{{query}}'
{% endif %}

{{ language_filter }}
{{ level_filter }}
{{ ects_min_filter }}
{{ ects_max_filter }}
{{ limit_min_filter }}
{{ limit_max_filter }}
{{ teacher_filter }}

&nbsp; <input type="submit" value="Clear filter">

</p>
</form>
</div>
{% endif %}



<div style="border: 1px solid grey; padding: 5px; height: 95">
<form action="/student/courses/search" method="POST">

<div class="box" style="float:left;margin:5px"> Keyword: <br> <input type="text" name="query" size="30"> <br><br>
<input type="submit" value="Search">
</div>

<div class="box" style="float:left;margin:5px"> Language: <br>
{% for language in languages %}
<input type="checkbox" name="language" value={{language}}> {{language}} <br>
{% endfor %} 
</div>

<div class="box" style="float:left;margin:5px"> Level: <br>
{% for level in levels %}
<input type="checkbox" name="level" value={{level}}> {{level}} <br>
{% endfor %} 
</div>

<div class="box" style="float:left;margin:5px"> ECTS: <br>
Min: <input type="number" name="ects_min" size="5"> <br> Max: <input type="number" name="ects_max" size="5"> <br><br>
</div>

<div class="box" style="float:left;margin:5px"> Completion limit: <br>
Min: <input type="number" name="limit_min" size="5"> <br> Max: <input type="number" name="limit_max" size="5"> <br><br>
</div>

<div class="box" style="float:left;margin:5px"> Teacher: <br>
<select name="teacher">
<option value=""></option>
{% for teacher in teachers %}
<option value={{teacher}}>{{teacher}}</option>
{% endfor %} 
</select>
<br><br><br>
</div>

</form>
</div>



<p>
<h2> Available courses: </h2>
<ul>
{% for course in available_courses %}
<li> {{ course[0] }}
	<a href="/student/joincourse/{{course[1]}}"> Join course </a>
{% endfor %}
</ul>
</p>

<p>
<h2> Enrolled courses: </h2>
<ul>
{% for course in enrolled_courses %}
<li> {{ course[0] }}
	<a href="/student/leavecourse/{{course[1]}}"> Leave course </a>
{% endfor %}
</ul>
</p>

<p>
<a href="/student"> Back to Main page </a>
</p>
