<title> TeachingApp </title>
<p style="font-size:30px"> TeachingApp </p>
<p><pre>username: {{ session.username }} | role: student | <a href="/logout">Log out</a></pre></p>
<hr>

<p>
<h1> All Courses </h1>

{% if search_or_filter %}
<form action="/student/courses">
<p style="color:blue">

FILTER: 

{% if search %}
keyword '{{query}}'
{% endif %}

&nbsp; <input type="submit" value="Clear filter">

</p>
</form>
{% endif %}

<form action="/student/courses/search" method="GET">
Keyword: <input type="text" name="query"> <br><br>
<input type="submit" value="Search">
</form>

<h2> Available courses: </h2>
<ul>
{% for course in available_courses %}
<li> {{ course[0] }}
	<a href="/student/joincourse/{{course[1]}}"> Join course </a>
{% endfor %}
</ul>

<h2> Enrolled courses: </h2>
<ul>
{% for course in enrolled_courses %}
<li> {{ course[0] }}
	<a href="/student/leavecourse/{{course[1]}}"> Leave course </a>
{% endfor %}
</ul>
</p>

<p>
<a href="/student"> Back to Main page </a>
</p>
