<title> TeachingApp </title>
<p style="font-size:30px"> TeachingApp </p>
<p><pre>username: {{ session.username }} | role: teacher | <a href="/logout">Log out</a></pre></p>
<hr>

<p>
<h1> My Courses </h1>

<h2> Published to Students: </h2>
<ul>
{% for course in visible_courses %}
<li> {{ course[0] }}
	<a href="/teacher/course/{{course[2]}}"> View course </a> &nbsp;
	<a href="/teacher/hidecourse/{{course[2]}}"> Hide course </a> &nbsp;
	<a href="/teacher/modifycourse/{{course[2]}}"> Modify course </a> &nbsp;
	<a href="/teacher/deletecourse/{{course[2]}}"> Delete course </a> <br>
	<div style="color:green;"> {{ course[1] }} </div>
{% endfor %}
</ul>

<h2> Hidden from Students: </h2>
<ul>
{% for course in hidden_courses %}
<li> {{ course[0] }}
	<a href="/teacher/course/{{course[2]}}"> View course </a> &nbsp;
	<a href="/teacher/publishcourse/{{course[2]}}"> Publish course </a> &nbsp;
	<a href="/teacher/modifycourse/{{course[2]}}"> Modify course </a> &nbsp;
	<a href="/teacher/deletecourse/{{course[2]}}"> Delete course </a> <br>
	<div style="color:green;"> {{ course[1] }} </div>
{% endfor %}
</ul>
</p>

<p>
<a href="/teacher/createcourse"> Create course </a>
</p>
