<p>
TEACHER VIEW<br>
username: {{ session.username }}<br>
<a href="/logout">Log out</a>
</p>

<p>MY COURSES

<p>
Published to Students:
<ul>
{% for course in visiblecourses %}
<li> {{ course[0] }} <a href="/changecourse/{{ course[1] }}">Modify course</a> <a href="/hidecourse/{{ course[1] }}">Hide course</a> <a href="/removecourse/{{ course[1] }}">Delete course</a>
{% endfor %}
</ul>
</p>

<p>
Hidden from Students:
<ul>
{% for course in hiddencourses %}
<li> {{ course[0] }} <a href="/changecourse/{{ course[1] }}">Modify course</a> <a href="/publishcourse/{{ course[1] }}">Publish course</a> <a href="/removecourse/{{ course[1] }}">Delete course</a>
{% endfor %}
</ul>
</p>

</p>



<p><a href="/newcourse">Create new course</a></p>




