<title> TeachingApp </title>
<p style="font-size:30px"> TeachingApp </p>
<p><pre>username: {{ session.username }} | role: teacher | <a href="/logout">Log out</a></pre></p>
<hr>

<p>
<form action="/teacher/course/{{id}}/modifymaterial/action" method="POST">

<h1> {{ header }} <br> {{ parameters }} </h1>

<h2> Modify material </h2>
<p>
<textarea name="material" rows="25" cols="100">{{ material }}</textarea>
</p>
<input type="submit" value="Save material">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>
</p>

<p>
<a href="/teacher/course/{{id}}"> Back to Course page </a> <br>
<a href="/teacher"> Back to Main page </a>
</p>
