<title> TeachingApp </title>
<p style="font-size:30px"> TeachingApp </p>
<p>
username: {{ session.username }} <br>
role: teacher <br>
<a href="/logout"> Log out </a>
</p>
<hr>

<p>
<h1> My Courses </h1>

<h2> Published to Students: </h2>
<ul>
{% for course in visible_courses %}
<li> {{ course[0] }}
	<a href="/teacher/course/{{course[1]}}"> View course </a> &nbsp;
	<a href="/teacher/hidecourse/{{course[1]}}"> Hide course </a> &nbsp;
	<a href="/teacher/modifycourse/{{course[1]}}"> Modify course </a> &nbsp;
	<a href="/teacher/deletecourse/{{course[1]}}"> Delete course </a> 
{% endfor %}
</ul>

<h2> Hidden from Students: </h2>
<ul>
{% for course in hidden_courses %}
<li> {{ course[0] }}
	<a href="/teacher/course/{{course[1]}}"> View course </a> &nbsp;
	<a href="/teacher/publishcourse/{{course[1]}}"> Publish course </a> &nbsp;
	<a href="/teacher/modifycourse/{{course[1]}}"> Modify course </a> &nbsp;
	<a href="/teacher/deletecourse/{{course[1]}}"> Delete course </a> 
{% endfor %}
</ul>
</p>

<p>
<a href="/teacher/createcourse"> Create course </a>
</p>
